{% extends "layout.html" %}

{% block content %}
<br>
<h2>{{ title }}</h2>
<h3>В чем суть?</h3>

<p>
    Видете, как кому-то из ближних требуется помощь, но даже понятия не имеете, каким образом эту помощь можно
    предоставить? Или вы боитесь мошенников, которым тоже "нужна помощь"? В любои из случаев, если слово "пожертвования"
    вызывает много вопросов, страха и запутанности — Вам к нам!
</p>
<p>
    Краудфандинговая платформа ВДОХ — прозрачная, открытая для всех и каждого платформа, на которой люди могут как
    собрать деньги на что-либо социально необходимое, так и сами поучаствовать в сборе средств. Это очень просто:
</p>
<p>
    <h3>Зарегистрироваться</h3>
    <h4>Всего 3 поля отделяет Вас от возможности протянуть руку помощи людям</h4><br>
    <h3>Выбрать инициативу</h3>
    <h4>Даже в рамках региона найдутся сотни проблем, которые требуют некого количества денег</h4><br>
    <h3>Выбрать способ оплаты и пожертвовать</h3>
    <h4>Та-да! Деньги перечислены в государственный фонд, который специализируется на проблемах этого класса. Вы можете спать спокойно — Вы кому-то помогли</h4><br>
</p>

{% endblock %}