{% extends "layout.html" %}

{% block content %}
<br>
<h3>{{ name }}</h3>
<img src="data:image/jpeg;base64, {{image}}" alt="desc of file">
<p>{{ description }} </p>
<p>Необходимо собрать {{ need }}</p>
<p>Собранно {{ wegot }}</p>
<p>Осталось {{need - wegot}}</p>
<p>importance {{importance}}</p>
<div class="progress">
        <div class="progress-bar" role="progressbar" style="width: {{persent}}%;" aria-valuenow="{{persent}}" aria-valuemin="0" aria-valuemax="100">{{persent}}%</div>
</div>
<a href="{{ donate }}"" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Пожертвовать</a>


<form action="" method="post">
        <input type="text" placeholder="Никнейм" style="border: 1px solid #adadad; border-radius: 4px; padding: 5px;"
        name="username" value="{{
          request.form.username }}">
    <p><textarea rows="10" placeholder="Введите ваш комментарий" value="{{
        request.form.textarea }}"  cols="45" style="max-width: 100%; border: 1px solid #adadad; border-radius: 4px; padding: 5px;" name="text"></textarea></p>
    <input class="btn btn-primary btn-lg active" type="submit" value="Отправить">
  </form>
{% for com in comments %}
        <h2>{{com.author}}</h2>
        <p>
                {{com.comment}}
        <hr noshade="true" size="300px">
{% endfor %}

{% endblock %}