{% extends "layout.html" %}

{% block content %}

<h3>{{ name }}</h3>

<p>{{ description }} </p>
<p>Необходимо собрать {{ need }}</p>
<p>Собранно {{ wegot }}</p>
<p>Осталось {{need - wegot}}</p>
<div class="progress">
        <div class="progress-bar" role="progressbar" style="width: {{persent}}%;" aria-valuenow="{{persent}}" aria-valuemin="0" aria-valuemax="100">{{persent}}%</div>
</div>
{% for com in comments %}
    <div class="col-md-5">
        <h2>{{com.author}}</h2>
        <p>
                {{com.comment}}
        </p>
        <hr noshade="true" size="300px">
    </div>
{% endfor %}

{% endblock %}