{% extends "layout.html" %}

{% block content %}

<div class="container">
    <form method="post">
        <input type="text" placeholder="Название" name="name" value="{{
        request.form.name }}">
        <input type="text" placeholder="Описание" name="description" value="{{
        request.form.description }}">
        <input type="text" placeholder="Кол-во денег" name="amounttoget" value="{{
            request.form.amounttoget }}">
        <input type="text" placeholder="Организация" name="org" value="{{
                request.form.org }}">
            
        <input class="btn btn-default" type="submit" value="Отправить">
    </form>

    {% endblock %}