{% extends "layout.html" %}

{% block content %}

<br><br>
<ul class="list-unstyled">
    {% for post in posts %}
    <li>
        <div class="thumbnail" style="width: 1140px" style="height: 450px" onclick="location.href=''" style="margin: 15px" float: left>
            <img src="data:image/jpeg;base64, {{post.image}}" style="width: 500px;height: 280px;" float:left>
            <h4 id="thumbnail-label"><a style="margin: 15px"
                href="/crowd/{{ post._id }}"
                    target="_blank">{{post.name}}</a></h4>
                    <div class="thumbnail-description smaller" style="margin: 15px">{{ post.description}}</div>
                    <p><a class="btn btn-default" href="/crowd/{{ post._id }}" style="margin: 5px">Узнать больше &raquo;</a></p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width:{{post.persent}}%" aria-valuenow={{post.persent}} aria-valuemin="0" aria-valuemax="100" style="margin: 15px" style="color: lawngreen">               
                </div>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>


{% endblock %}