{% extends "layout.html" %}

{% block content %}
<div>
	<div class="my-container first-container">
		<div
			style="background-image: url('static/content/img1.jpg'); background-position: center; height: 100%; width: 100%;">
		</div>
	</div>
	<div class="my-container">
		<div class="image" style="float: right; background-image: url('static/content/img2.jpg');"></div>
		<div class="text">
			<h3><p>ВДОХ — это краудфандинговая платформа поддержки социально значимых проектов и идей.</p></h3>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="my-container">
		<div class="image" style="float: left; background-image: url('static/content/img3.jpg');"></div>
		<div class="text">
			<p>Наша цель заключается в том, чтобы меценат (или просто неравнодушный человек) и благотворительный фонд нашли друг друга и могли действовать на условиях прозрачности намерений и полной подотчётности средств последнего. Действовать таким образом, чтобы сделавший пожертвование точно знал, на что пойдут его деньги, фонд мог бы облегчить приём материальной помощи от граждан, а органы исполнительной власти – привлечь общественное внимание к важным и актуальным проблемам.</p>
		</div>
	</div>
	<div class="heading" style="margin-bottom: 10px;">
		<div class="col1">
			<img src="static/content/geolocation.svg" width="60px"></img>
			<p><h4>Таргетированность</h4></p>
			<h5>Расширяя горизонты, мы стремимся охватить всё больший объём небезразличных вам проблем</h5>
		</div>
		<div class="col2">
			<img src="static/content/transparent.png" width="60px"></img>
			<p><h4>Прозрачность</h4></p>
			<h5>Деньги, которые вы жертвуете, полностью подотчётны:<p>ни одна копейка не потеряется!</p></h5>
		</div>
		<div class="col3">
			<img src="static/content/circle.svg" width="60px"></img>
			<p><h4>Простота</h4></p>
			<h5>Одна из важнейших задач для нас - обеспечить простой и удобный способ диалога граждан с властями</h5>
		</div>
	</div><br><br><br><br>
	<div class="my-container bottom-text" style="background-image: url('static/content/img4.jpg');">
		<br><br>
		<div class="bottom-button"><a href="{{ url_for('getall') }}">Присоединяйся</a></div>
		<br><br>
		<h2><p><b>Поддержи то, что важно для тебя!</b></p></h2>
	</div>
</div>
{% endblock %}
