{% extends "layout.html" %}

{% block content %}
<div>
	<div class="my-container first-container">
		<div
			style="background-image: url('static/content/img1.jpg'); background-position: center; height: 100%; width: 100%;">
		</div>
	</div>
	<div class="my-container">
		<div class="image" style="float: right; background-image: url('static/content/img2.jpg');"></div>
		<div class="text">
			<p>ВДОХ — краудфандинговая платформа социально значимых проектов и идей. </p>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="my-container">
		<div class="image" style="float: left; background-image: url('static/content/img3.jpg');"></div>
		<div class="text">
			<p>Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его
				корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад.
				Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых
				странных слов в Lorem Ipsum, "consectetur", и занялся его поисками в классической латинской литературе.
				В результате он нашёл неоспоримый первоисточник Lorem Ipsum в разделах 1.10.32 и 1.10.33 книги "de
				Finibus Bonorum et Malorum" ("О пределах добра и зла"), написанной Цицероном в 45 году н.э. Этот трактат
				по теории этики был очень популярен в эпоху Возрождения. Первая строка Lorem Ipsum, "Lorem ipsum dolor
				sit amet..", происходит от одной из строк в разделе 1.10.32</p>
		</div>
	</div>
	<div class="heading" style="margin-bottom: 10px;">
		<div class="col1">
			<img src="static/content/geolocation.svg" width="60px"></img>
			<p>Text</p>
		</div>
		<div class="col2">
			<img src="static/content/transparent.png" width="60px"></img>
			<p>Text</p>
		</div>
		<div class="col3">
			<img src="static/content/circle.svg" width="60px"></img>
			<p>Text</p>
		</div>
	</div>
	<div class="my-container bottom-text" style="background-image: url('static/content/img4.jpg');">
		<div class="bottom-button"><a href="{{ url_for('getall') }}">Присоединяйся</a></div>
		<p><b>Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его
			корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард
			МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в
			Lorem Ipsum, "consectetur", и занялся его поисками в классической латинской литературе. В результате он
			нашёл неоспоримый первоисточник Lorem Ipsum в разделах 1.10.32 и 1.10.33 книги "de Finibus Bonorum et
			Malorum" ("О пределах добра и зла"), написанной Цицероном в 45 году н.э. Этот трактат по теории этики был
			очень популярен в эпоху Возрождения. Первая строка Lorem Ipsum, "Lorem ipsum dolor sit amet..", происходит
			от одной из строк в разделе 1.10.32</b></p>
	</div>
</div>
{% endblock %}